{% extends 'safety/safety_base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Safety issues{% endblock %}
{% block safety_title %}Report a safety issue{% endblock %}
{% block tab_content %}
    {% if safety_introduction %}
        {{ safety_introduction|safe }}
    {% else %}
        <p style="font-weight:bold; color:red">Call 911 if there is an immediate emergency.</p>
        <p>
            We invite your suggestions and observations in order to provide a safer and more effective environment for all users and staff.
            Use the safety issues form to report non-emergency related safety issues, unsafe working conditions, housekeeping suggestions, or observations.
            You can send your comments or concerns completely anonymously or provide your name so that we can follow up with you.
        </p>
    {% endif %}
    <form action="{% url 'create_safety_issue' %}" method="post">
        {% csrf_token %}
        <input type="text"
               name="location"
               class="form-control"
               style="max-width: 250px"
               aria-label="Problem location"
               placeholder="Where is the problem?"
               required
               autofocus>
        <br>
        <textarea name="concern"
                  class="form-control"
                  rows="6"
                  aria-label="Concern"
                  placeholder="Why are you concerned?"
                  required></textarea>
        <input type="hidden" name="resolved" value="false">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="report_anonymously">
                Report this issue anonymously.
            </label>
            <span class="light-grey">Your name will not appear publicly.</span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="post_alert">
                Post this issue as an alert on NEMO to warn others not to enter the {{ facility_name }}.
            </label>
            <span class="red">Use this only if you believe it may not be safe to work in the {{ facility_name }} and {{ facility_name }} staff are not available. This will warn other labmembers not to enter. Such an alert may not be posted anonymously.</span>
        </div>
        {% button type="delete" submit=True value="Report a new safety concern" icon="glyphicon-send" %}
    </form>
{% endblock %}
