<div class="alert alert-warning" style="margin-bottom: 0">
    <table style="width: 100%">
        <tr>
            <td style="width:50px">
                <span class="glyphicon glyphicon-alert warning-highlight notification-icon"></span>
            </td>
            <td>
                During this reservation there are {{ same_area_count }} other labmembers expected in the {{ area.name }} area.
                <br>
                <b>The buddy system is in effect during your reservation.</b>
                <br>
                <br>
                Please coordinate with other labmembers and be sure to follow the buddy system.
                <br>
            </td>
        </tr>
    </table>
    <div style="text-align: center; margin-top: 15px">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Ok">
            <span aria-hidden="true">Ok</span>
        </button>
    </div>
</div>
