{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="application-name" content="NanoFab Equipment Management and Operations (NEMO)">
        <meta name="author" content="Dylan Klomparens">
        <meta name="description"
              content="NEMO allows NanoFab users to make tool reservations, control access to tools in the NanoFab, and streamline logistics and communication">
        <meta name="keywords"
              content="NanoFab, logistics, operations, nano-technology, nano-fabrication, reservation, tool control, status">
        <title>NEMO - Password Reset</title>
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-8 col-md-offset-2" style="text-align:center; margin-bottom:30px">
                <h1>NEMO - Password Reset</h1>
            </div>
            <div class="col-md-8 col-md-offset-2" style="text-align:center; margin-bottom:30px">
                Please enter your username and we will send you a link to reset your password.
            </div>
            <form method="post"
                  class="form-horizontal"
                  autocomplete="off"
                  id="login_form"
                  action="{% url 'forgot_password_process' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                        <input type="text"
                               id="username"
                               name="username"
                               class="form-control"
                               placeholder="Username"
                               spellcheck="false"
                               required="true"
                               autocapitalize="off"
                               autocomplete="off"
                               autocorrect="off"
                               autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                        <input type="submit" class="btn btn-success form-control" value="Send Password Reset Email">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <a href="{% url 'landing' %}">Continue to {{ site_title }} home screen</a>
                </div>
            </div>
        </div>
    </body>
</html>
