{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="application-name" content="NanoFab Equipment Management and Operations (NEMO)">
        <meta name="author" content="Dylan Klomparens">
        <meta name="description"
              content="NEMO allows NanoFab users to make tool reservations, control access to tools in the NanoFab, and streamline logistics and communication">
        <meta name="keywords"
              content="NanoFab, logistics, operations, nano-technology, nano-fabrication, reservation, tool control, status">
        {# Snippet to prevent clickjacking. Taken from https://www.codemagi.com/blog/post/194 #}
        <style id="antiClickjack">body{display:none !important;}</style>
        <!--suppress JSValidateTypes -->
        <script type="text/javascript">
		if (self === top)
		{
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		}
		else
			top.location = self.location;
	
        </script>
        <title>NEMO - {{ facility_name }} Equipment Management and Operations website</title>
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}" />
    </head>
    <body>
        <div class="container">
            <div class="col-md-8 col-md-offset-2" style="text-align:center; margin-bottom:30px">
                <h1>NEMO Password Reset</h1>
            </div>
            <div class="col-md-8 col-md-offset-2" style="text-align:center; margin-bottom:30px">
                Please enter your new password.
            </div>
            <form method="post" class="form-horizontal" autocomplete="off" id="login_form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               placeholder="Password"
                               spellcheck="false"
                               autocapitalize="off"
                               autocomplete="off"
                               autocorrect="off"
                               autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                        <input type="submit" class="btn btn-success form-control" value="Reset Password">
                    </div>
                </div>
            </form>
            <div class="alert alert-danger" style="display:none" id="cookie_error">
                NEMO relies on cookies to work properly. Please modify your web browser settings
                to allow this site to use cookies. Reload this page after modifying the settings
                and you will be able to log in.
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <a href="{% url 'landing' %}">Continue to {{ site_title }} home screen</a>
                </div>
            </div>
        </div>
        <script>
		if(!navigator.cookieEnabled)
		{
			document.getElementById("login_form").style.display = "none";
			document.getElementById("cookie_error").style.display = "block";
		}
	
        </script>
    </body>
</html>
