{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% block title %}Billing{% endblock %}
{% block extrahead %}
    {% load static %}
    <script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
    <h1>Billing</h1>
    Compile billing report for:
    <ul>
        <li>Enter a custom date range</li>
    </ul>
    <form id="view_records" action="{% url 'mnfc_billing' %}" class="form-inline" method="get">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="datetimepicker-container">
                    <input type="text"
                           id="start"
                           name="start"
                           class="form-control"
                           autocomplete="off"
                           placeholder="start"
                           value="{{ start.date|input_date_format }}">
                </div>
            </div>
            <div class="form-group">
                <div class="datetimepicker-container">
                    <input type="text"
                           id="end"
                           name="end"
                           class="form-control"
                           autocomplete="off"
                           placeholder="end"
                           value="{{ end.date|input_date_format }}">
                </div>
            </div>
            <div class="form-group">{{ area_select_field }}</div>
            <div class="form-group">
                <input type="submit"
                       class="btn btn-default"
                       value="View billing records"
                       onclick="javascript: form.action=' {% url 'mnfc_billing' %}';">
                <input type="submit"
                       class="btn btn-default"
                       value="Download billing xlsx"
                       onclick="javascript: form.action=' {% url 'mnfc_billingxls' %}';">
            </div>
        </div>
    </form>
    <div class="col-lg-12" style="margin-top:30px">
        {% if billing_result %}
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>PI</th>
                        <th>Type</th>
                        <th>Billable Days</th>
                        <th>Usage Bill</th>
                        <th>Stockroom Charges</th>
                        <th>Staff Charges</th>
                        <th>Total Bill</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in billing_result %}
                        <tr>
                            <td>{{ x.username }}</td>
                            <td>{{ x.name }}</td>
                            <td>{{ x.email }}</td>
                            <td>{{ x.PI }}</td>
                            <td>{{ x.user_type }}</td>
                            <td>{{ x.billable_days }}</td>
                            <td>{{ x.usage_bill }}</td>
                            <td>{{ x.stockroom_bill }}</td>
                            <td>{{ x.staff_charge_bill }}</td>
                            <td>{{ x.total_bill }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if start or end %}No access records exist between {{ start }} and {{ end }}.{% endif %}
        {% endif %}
    </div>
    <script>
		function on_load()
		{
			let timepicker_properties =
			{
				format: '{{ date_input_js_format }}'
			};
			$('#start').datetimepicker(timepicker_properties);
			$('#end').datetimepicker(timepicker_properties);
		}
		$(on_load);
	
    </script>
{% endblock %}
