{% extends 'base.html' %}
{% block title %}Design Consultation Request{% endblock %}
{% block content %}
    {% if customization_required %}
        <h1>The consultation page has not been customized yet</h1>
        <p>
            Consultation requests are emailed to an address specified by the NEMO site administrator.
            {% if user.is_staff %}
                Use the <a href="{% url 'customization' %}">customizations page</a>
                to enter an email address, then all users will be able to send feedback and consultation requests.
            {% endif %}
        </p>
    {% else %}
        <h1>Request a Design Consultation with the {{ facility_name }} Staff</h1>
        <p>
            Use this form if you would like to meet with {{ facility_name }} Staff to discuss your project.
            We are available to assist with device and architectural design and process
            integration and optimization, depending on your needs.
        </p>
        <p>
            Useful information to include here might be:
            <ul>
                <li>Tell us a bit about your situation and interest in the {{ facility_name }}</li>
                <li>A broad description of what you are envisioning, whether a device or a tool recipe</li>
                <li>Is this a project or a sample treatment?</li>
                <li>Are you under any timing constraints we should be aware of?</li>
            </ul>
        </p>
        <p>
            We will review your request and respond to you within one week.
            You will separately receive an email with a template for the types of information
            we will find useful in assessing your device or process needs.
        </p>
        <form class="form" id="consultation_form" action="{% url 'consultation' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>
                    <textarea rows="6"
                              cols="75"
                              name="consultation"
                              id="consultation"
                              class="form-control"
                              maxlength="5000"
                              required></textarea>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Send request" class="btn btn-success">
            </div>
        </form>
    {% endif %}
{% endblock %}
