{% extends 'base.html' %}
{% block title %}New Material Requests{% endblock %}
{% block content %}
    <h1>Material Requests</h1>
    {% if user.is_staff %}
        <p>
            <a href="{% url 'view_requests' %}" class="btn btn-success">View Material Requests</a>
        </p>
    {% endif %}
    <p>
        Use this form to request to bring new materials into the {{ facility_name }}. This is necessary to make sure that there is an
        adequate plan to minimize contamination and safety risks. Staff will review your request and may ask for more details.
        If your material is permitted, they will work with you on storage, waste disposal, and allowed processes.
    </p>
    <h3>Request permission to bring a new material into the {{ facility_name }}</h3>
    <form action="{% url 'chemical_request' %}" method="post">
        {% csrf_token %}
        <label for="chemical_name">Chemical Name:</label>
        <br>
        <input type="text"
               name="chemical_name"
               class="form-control"
               style="max-width: 250px"
               placeholder="Full name of chemical"
               required>
        <br>
        <input type="text"
               name="cas"
               class="form-control"
               style="max-width: 250px"
               placeholder="CAS Number"
               required>
        <br>
        <label for="container">What container will the chemical be stored in?</label>
        <br>
        <input type="text"
               name="container"
               class="form-control"
               style="max-width: 500px"
               placeholder="Container (e.g. 1 L glass bottle, 50 mL plastic bottle)"
               required>
        <br>
        <label for="sds_link">Provide a link to the Safety Data Sheet (SDS) for this material:</label>
        <br>
        <input type="url"
               name="sds_link"
               class="form-control"
               size="100"
               placeholder="SDS URL (starting with http)"
               required>
        <br>
        <p>
            <strong>Hazards</strong>
        </p>
        <p>Check all that apply:</p>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="flammable">
                Flammable
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="corrosive">
                Corrosive
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="reactive">
                Reactive
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="temp_sensitive">
                Temperature Sensitive
            </label>
        </div>
        <br>
        <label for="stability">Stability Concerns:</label>
        <br>
        <textarea name="stability"
                  class="form-control"
                  rows="1"
                  placeholder="Describe any stability concerns (e.g. decomposes, forms peroxide, polymerizes, shelf life)"
                  required></textarea>
        <br>
        <label for="incompatibilities">Incompatibilities:</label>
        <br>
        <textarea name="incompatibilities"
                  class="form-control"
                  rows="1"
                  placeholder="Describe any known incompatibilities"
                  required></textarea>
        <br>
        <label for="health_hazards">Health Hazards:</label>
        <br>
        <textarea name="health_hazards"
                  class="form-control"
                  rows="1"
                  placeholder="Describe any known health hazards (e.g. carcinogen, reproductive toxin, acute toxicity)"
                  required></textarea>
        <br>
        <label for="exposure_routes">Exposure Routes:</label>
        <br>
        <textarea name="exposure_routes"
                  class="form-control"
                  rows="1"
                  placeholder="Describe any significant exposure routes (e.g. inhalation, skin absorption)"
                  required></textarea>
        <br>
        <label for="exposure_controls">Exposure Controls:</label>
        <br>
        <textarea name="exposure_controls"
                  class="form-control"
                  rows="1"
                  placeholder="Describe any necessary exposure controls (e.g. chemical fume hood, vented gas cabinet)"
                  required></textarea>
        <br>
        <p>
            <strong>Procedure</strong>
        </p>
        <p>
            Describe the procedure to be followed when using this material. Be sure to include the following:
            <ul>
                <li>Where in the facility it will be used</li>
                <li>In what tools it will be used</li>
                <li>Any special handling requirements</li>
                <li>For how long you expect you will need it</li>
                <li>Where you propose to store it</li>
                <li>The approximate rate of use</li>
            </ul>
        </p>
        <textarea name="procedure"
                  class="form-control"
                  rows="4"
                  placeholder="Describe the procedure to be followed when using this material."
                  required></textarea>
        <br>
        <p>
            <strong>Waste Generation and Disposal</strong>
        </p>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="hazardous_waste">
                Will hazardous waste be generated?
            </label>
        </div>
        <br>
        <label for="waste_disposal">Waste Disposal Plan:</label>
        <br>
        <textarea name="waste_disposal"
                  class="form-control"
                  rows="1"
                  placeholder="How should the waste generated by this material be disposed?"
                  required></textarea>
        <br>
        <input type="submit" value="Submit Request" class="btn btn-success">
    </form>
{% endblock %}
