{% extends 'base.html' %}
{% block title %}User Chemicals{% endblock %}
{% block content %}
    <h1>User Chemical Inventory</h1>
    {% if user.is_staff %}
        <p>
            <a href="{% url 'add_user_chemical' %}" class="btn btn-success">Add a new chemical</a>
        </p>
    {% endif %}
    <div class="col-lg-12" style="margin-top:30px">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>
                        <a href="{% url 'user_chemicals' sort_by='owner' %}">Owner</a>
                    </th>
                    <th>
                        <a href="{% url 'user_chemicals' sort_by='chemical_name' %}">Chemical Name</a>
                    </th>
                    <th>
                        <a href="{% url 'user_chemicals' sort_by='label_id' %}">Label ID</a>
                    </th>
                    <th>
                        <a href="{% url 'user_chemicals' sort_by='in_date' %}">Date of Entry</a>
                    </th>
                    <th>
                        <a href="{% url 'user_chemicals' sort_by='expiration' %}">Expiration Date</a>
                    </th>
                    <th>
                        <a href="{% url 'user_chemicals' sort_by='location' %}">Location</a>
                    </th>
                    <th>SDS</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for x in user_chemicals %}
                    <tr>
                        <td>{{ x.owner }}</td>
                        <td>
                            {% if x.request %}
                                <a href="{% url 'request_details' x.request.id %}" data-toggle="tooltip" title="View Request Details">{{ x.chemical_name }}</a>
                            {% else %}
                                {{ x.chemical_name }}
                            {% endif %}
                        </td>
                        <td>{{ x.label_id }}</td>
                        <td>{{ x.in_date }}</td>
                        <td>{{ x.expiration }}</td>
                        <td>{{ x.location }}</td>
                        <td>
                            {% if x.sds_link %}
                                <a href="{{ x.sds_link }}" target="_blank">SDS</a>
                            {% else %}
                                No Link
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'update_user_chemical' x.id %}" class="btn btn-default">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}
