{% extends 'base.html' %}
{% load custom_tags_and_filters %}
{% load static %}
{% block title %}
    Usage
    {% if billing_service %}and billing information{% endif %}
{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{% static "datetimepicker/bootstrap-datetimepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "datetimepicker/bootstrap-datetimepicker.css" %}" />
{% endblock %}
{% block content %}
    <h1>
        Usage
        {% if billing_service %}and billing information{% endif %}
        <small class="light-grey">between {{ start_date|date }} and {{ end_date|date }}</small>
    </h1>
    <p>
        This page presents a monthly report of your {{ facility_name }} usage
        {% if billing_service %}and billing information{% endif %}
        . Approved adjustments are
        {% if not billing_service %}not{% endif %}
        reflected
        {% if billing_service %}in the billing information data but not{% endif %}
        in the usage data.
    </p>
    <div style="height: 20px"></div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="month_list" class="control-label col-sm-2">Select month</label>
            <div class="col-sm-3 col-md-3 col-lg-2">
                <select id="month_list"
                        class="form-control"
                        style="margin-right: 5px;
                               text-align-last:center"
                        onchange="set_dates_from_month(this.value)">
                    <option selected></option>
                    {% for month in month_list %}<option>{{ month|date:"F, Y" }}</option>{% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-2">
                <label for="start_date">or from</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-2">
                <input type="text"
                       id="start_date"
                       name="start"
                       class="form-control text-center"
                       placeholder="Choose a date"
                       value="{{ start_date.date|input_date_format }}">
            </div>
            <div class="control-label col-sm-1 col-sm-1 col-lg-1" style="text-align: center">
                <label for="end_date">to</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-2">
                <input type="text"
                       id="end_date"
                       name="end"
                       class="form-control text-center"
                       placeholder="Choose a date"
                       value="{{ end_date.date|input_date_format }}">
            </div>
            {% if pi_projects %}
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label for="pi_project">Managed project</label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <select {% if show_only_my_usage %}disabled{% endif %}
                            name="pi_project"
                            id="pi_project"
                            class="form-control"
                            style="text-align-last:center"
                            title="Select a project you are the PI for to see all usage for that project">
                        <option selected value="">All</option>
                        {% for project in pi_projects %}
                            <option value="{{ project.id }}"
                                    {% if selected_project and selected_project.id == project.id %}selected{% endif %}>
                                {{ project.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <div class="checkbox">
                        <input type="hidden" name="show_only_my_usage" value="off">
                        <label>
                            <input type="checkbox"
                                   {% if show_only_my_usage %}checked{% endif %}
                                   name="show_only_my_usage"
                                   value="enabled"
                                   onclick="$('#pi_project').attr('disabled', this.checked)">
                            Show only my usage
                        </label>
                    </div>
                </div>
            {% endif %}
            {% if user.active_projects %}
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <label for="project">Project</label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <select name="project"
                            id="project"
                            class="form-control"
                            style="text-align-last:center"
                            title="Select a project to see usage for only that project">
                        <option selected value="">All</option>
                        {% for project in user.active_projects %}
                            <option value="{{ project.id }}"
                                    {% if selected_user_project and selected_user_project.id == project.id %}selected{% endif %}>
                                {{ project.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if not project_autocomplete %}
                <div class="form-group">
                    <input type="submit"
                           class="btn btn-success"
                           value="Update"
                           onclick="form.action='{% url 'usage' %}';show_spinner(form)">
                    <input type="submit"
                           class="btn btn-default"
                           value="Download usage xlsx"
                           onclick="form.action='{% url 'mnfc_usage_xlsx' %}';">
                </div>
            {% endif %}
        </div>
        <input id="type" name="type" type="hidden" value="{{ kind|default:'' }}" />
        <input id="id" name="id" type="hidden" value="{{ identifier|default:'' }}" />
        <script>
            const js_date_format = "{{ date_input_js_format }}";

			let start_date_jq = $('#start_date');
			let end_date_jq = $('#end_date');
			start_date_jq.datetimepicker({format: js_date_format});
			end_date_jq.datetimepicker({format: js_date_format});

			function set_dates_from_month(month_input)
			{
                if (month_input)
                {
                    let month = moment(month_input, "MMMM, YYYY");
                    let firstOfMonth = month.startOf('month').format(js_date_format);
                    let lastOfMonth = month.endOf('month').format(js_date_format);

                    start_date_jq.val(firstOfMonth);
                    end_date_jq.val(lastOfMonth);
                }
			}

			function set_dropdown_selected()
			{
			    if ('{{ start_date|default_if_none:'' }}' && '{{ end_date|default_if_none:'' }}')
			    {
					let start = moment('{{ start_date.date|input_date_format }}', js_date_format);
					let end = moment('{{ end_date.date|input_date_format }}', js_date_format);
					if (start.month() === end.month() && start.year() === end.year() && start.day() === start.startOf('month').day() && end.day() === end.endOf('month').day())
					{
					    let month = start.format("MMMM, YYYY");
						$('#month_list').val(month);
					}
				}
			}
			$(set_dropdown_selected());

			function get_user(jquery_event, search_selection, dataset_name)
			{
				$('#customer').val(search_selection.id);
			}
			function on_load_user()
			{
				$("#usersearch").autocomplete('users', get_user, {{ users|json_search_base }}).focus();
			}
			$(on_load_user);

        </script>
        {% if project_autocomplete %}
            {% url "mnfc_project_usage" as mnfc_usage_url %}
            {% if mnfc_usage_url in request.path %}
                <div>
                    <p>
                        <strong>Filter Parameters</strong>
                    </p>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-2">
                        <label for="usersearch">
                            <strong>User</strong>
                        </label>
                    </div>
                    <div class="col-sm-4" id="search_container" style="width: 36.4%;">
                        <input id="usersearch"
                               class="form-control"
                               type="text"
                               {% if customer %}placeholder="{{ customer }}"{% else %}placeholder="Search for a user"{% endif %}
                               class="form-control"
                               autofocus>
                        <input id="customer" name="customer" type="hidden" {% if customer %}value="{{ customer.id }}"{% endif %}>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-sm-2" for="search">
                    <strong>For</strong>
                </label>
                <div class="col-sm-4" id="search_container" style="width: 36.4%;">
                    <input id="search"
                           type="text"
                           class="form-control"
                           style="width: 100%"
                           autofocus
                           {% if selection %}placeholder="{{ selection }}" {% else %}placeholder="Search for an account, project, application or user"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                {% if mnfc_usage_url in request.path %}
                    <div class="control-label col-sm-2">
                        <label for="itemsearch">
                            <strong>Tool/Category</strong>
                        </label>
                    </div>
                    <div class="col-sm-4" id="search_container" style="width: 36.4%;">
                        <input id="itemsearch"
                               class="form-control"
                               type="text"
                               {% if item %}placeholder="{{ item.name }}"{% else %}placeholder="Search for a tool or a category"{% endif %}
                               class="form-control">
                        <input id="item_id" name="item_id" type="hidden" {% if item %}value="{{ item.id }}"{% endif %}>
                        <input id="item_type"
                               name="item_type"
                               type="hidden"
                               {% if item %}value="{{ item|class_name|lower }}"{% endif %}>
                    </div>
                {% else %}
                    <div class="col-sm-2" style="margin-right: 15px"></div>
                {% endif %}
                <div class="form-group">
                    <input type="submit"
                           class="btn btn-success"
                           value="Update"
                           onclick="form.action='{% if mnfc_usage_url in request.path %}{{ mnfc_usage_url }}{% else %}{% url 'project_usage' %}{% endif %}';show_spinner(form);">
                    {% if mnfc_usage_url in request.path %}
                        <input type="submit"
                               class="btn btn-default"
                               value="Download usage xlsx"
                               onclick="form.action=' {% url 'mnfc_usage_xlsx' %}';">
                    {% endif %}
                    <button id="reset_filters"
                            type="button"
                            class="btn btn-default"
                            title="Reset Filters"
                            onclick="reset_filter_values();location.href='{% if mnfc_usage_url in request.path %}{{ mnfc_usage_url }}{% else %}{% url 'project_usage' %}{% endif %}';">
                        Reset Filters
                    </button>
                </div>
            </div>
            <script>
				function reset_filter_values(jquery_event)
				{
					$('#item_type').val('');
					$('#item_id').val('');
					$('#customer').val('');
					$('#type').val('');
					$('#id').val('');
				}
				function get_account(jquery_event, search_selection)
				{
					$('#type').val(search_selection.type);
					$('#id').val(search_selection.id);
				}
				function get_tool_or_category(jquery_event, search_selection)
				{
					$('#item_id').val(search_selection.id);
					$('#item_type').val(search_selection.type);
				}
				function get_search_item(jquery_event, search_selection)
				{
					$('#type').val(search_selection.type);
					$('#id').val(search_selection.id);
				}
				function on_load()
				{
					$("#itemsearch").autocomplete('tool_categories', get_tool_or_category, {% json_search_base_with_extra_fields tools|add:categories %}).focus();
                    $('#search').autocomplete('accounts_and_projects_for_usage', get_search_item, {% json_search_base_with_extra_fields search_items %});
				}
				$(on_load);
			
            </script>
            <style>
				#search_container .tt-dropdown-menu
				{
					min-width: 400px;
					max-height: 600px;
				}
			
            </style>
        {% endif %}
    </form>
    <div style="height: 5px; border-top: 1px dotted #eee"></div>
    {% block usage_content %}
    {% endblock %}
{% endblock %}
