{% extends 'usage/usage_base.html' %}
{% load custom_tags_and_filters %}
{% block usage_content %}
    <style>
		table
		{
		  border-collapse: collapse;
		  width: 100%;
		}

		th, td
		{
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even)
		{
			background-color: #f2f2f2;
		}
    </style>
    <div style="margin-top:10px">
        <ul class="nav nav-pills" id="tabs">
            <li class="active">
                <a>Usage</a>
            </li>
            {% if billing_service %}
                <li>
                    <a href="{{ tab_url }}">Billing Information</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div id="content" class="tab-content">
        <div class="tab-pane active" id="usage">
            <br />
            <p>
                Adjustment activities <b>are not included</b> in the usage information.
                {% if "requests"|customization:"adjustment_requests_enabled" and adjustment_time_limit %}
                    <br>
                    Adjustment requests can be made for charges ending after {{ adjustment_time_limit.date }}.
                {% endif %}
            </p>
            {% if no_charges %}<h3>There was no usage between {{ start_date|date }} and {{ end_date|date }}.</h3>{% endif %}
            {% if area_access %}
                <h3>Area access</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Area</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Project</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in area_access %}
                            <tr>
                                <td>{{ a.customer }}</td>
                                <td>{{ a.area }}</td>
                                <td>{{ a.start|date:"Y-m-d @H:i" }}</td>
                                <td>{{ a.end|date:"Y-m-d @H:i"|default_if_none:"In progress" }}</td>
                                <td>{{ a.project }}</td>
                                <td class="button-column-minimum">
                                    {% if a|can_be_adjusted:user %}
                                        {% include "usage/adjustment_request_button.html" with charge=a %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if usage_events %}
                <h3>Tool usage</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tool</th>
                            <th>Category</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Project</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in usage_events %}
                            <tr>
                                <td>
                                    {{ u.user }}
                                    {% if u.user != u.operator %}<span style="font-weight:bold">Operated by {{ u.operator }}</span>{% endif %}
                                </td>
                                <td>{{ u.tool }}</td>
                                <td>{{ u.tool.category }}</td>
                                <td>{{ u.start|date:"Y-m-d @H:i" }}</td>
                                <td>{{ u.end|date:"Y-m-d @H:i"|default_if_none:"In progress" }}</td>
                                <td>{{ u.project }}</td>
                                <td class="button-column-minimum">
                                    {% if u|can_be_adjusted:user %}
                                        {% include "usage/adjustment_request_button.html" with charge=u %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if missed_reservations %}
                <h3>Missed reservations</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Tool</th>
                            <th>Category</th>
                            <th>Start</th>
                            <th>Project</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in missed_reservations %}
                            <tr>
                                <td>{{ m.user }}</td>
                                <td>{{ m.tool }}</td>
                                <td>{{ m.tool.category }}</td>
                                <td>{{ m.start|date:"Y-m-d @H:i" }}</td>
                                <td>{{ m.project }}</td>
                                <td class="button-column-minimum">
                                    {% if m|can_be_adjusted:user %}
                                        {% include "usage/adjustment_request_button.html" with charge=m %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if consumables %}
                <h3>Supplies and consumables</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Date</th>
                            <th>Merchant</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in consumables %}
                            <tr>
                                <td>{{ c.customer }}</td>
                                <td>{{ c.consumable }}</td>
                                <td>{{ c.quantity }}</td>
                                <td>{{ c.date|date:"Y-m-d" }}</td>
                                <td>{{ c.merchant }}</td>
                                <td class="button-column-minimum">
                                    {% if c|can_be_adjusted:user %}
                                        {% include "usage/adjustment_request_button.html" with charge=c %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if stockroom_purchases %}
                    <h3>Stockroom Purchases</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Cost</th>
                                <th>Date</th>
                                <th>Merchant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in stockroom_purchases %}
                                <tr>
                                    <td>{{ c.customer }}</td>
                                    <td>{{ c.stock }}</td>
                                    <td>{{ c.quantity }}</td>
                                    <td>{{ c.stock.cost }}</td>
                                    <td>{{ c.date|date:"Y-m-d" }}</td>
                                    <td>{{ c.merchant }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if staff_charges %}
                        <h3>Staff charges</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Staff Member</th>
                                    <th>Customer</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in staff_charges %}
                                    <tr>
                                        <td>{{ s.staff_member }}</td>
                                        <td>{{ s.customer }}</td>
                                        <td>{{ s.start }}</td>
                                        <td>{{ s.end }}</td>
                                        <td>{{ s.project }}</td>
                                        <td>{{ s.note|linebreaksbr }}</td>
                                        <td class="button-column-minimum">
                                            {% if s|can_be_adjusted:user %}
                                                {% include "usage/adjustment_request_button.html" with charge=s %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if training_sessions %}
                        <h3>Training sessions</h3>
                        {% for t in training_sessions %}
                            <div class="alert alert-info">
                                <span style="font-weight:bold">{{ t.tool }}</span> {{ t.get_type_display }} training
                                {% if project_autocomplete or selected_project %}for {{ t.trainee }}{% endif %}
                                <br>
                                Trained by <span style="font-weight:bold">{{ t.trainer }}</span>
                                <br>
                                {{ t.date }} ({{ t.duration }} minutes)
                                <br>
                                Charged to project {{ t.project }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
