<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'">
        <!--[if mso]><table width="600" align="center"><tr><td><![endif]-->
        <table align="center" style="width:100%; max-width:600px">
            <tr>
                <td align="center"
                    style="color: white;
                           background: #5bc0de;
                           margin: 0;
                           padding: 50px 0"
                    bgcolor="#5bc0de">
                    <h1 style="max-width: 90%; margin: 0 auto; padding: 0;">Reset Password</h1>
                </td>
            </tr>
            <tr>
                <td style="margin: 10px 10px 20px; padding: 10px;">
                    <p>
                        Please reset your password:
                        <br />
                        <a href="{{ link }}">{{ link }}</a>.
                    </p>
                </td>
            </tr>
        </table>
        <!--[if mso]></td></tr></table><![endif]-->
    </body>
</html>
